<div id="footer">
  <div class="ftr_btm_area">
      <div class="container">
          <div class="row">
              <div class="col-sm-2">
                  <p></p>
              </div>
              <div class="col-sm-8">
                  <p class="copyright_text text-center">© 2022 All Rights Reserved - Dirección General de Análisis Fiscal y Estudios Económicos</p>
              </div>
              <div class="col-sm-1">
                  <p class="copyright_text text-center">WhatsApp: </p>
              </div>
              <div class="col-sm-1">
                  
                  <img id="logoEstudio" src="#" width="65%">
              </div>


          </div>
      </div>
  </div>
</div>