table{
  font-size: x-small;
  text-align-last: center;
}
#subtotal1{
  background-color: rgba(38, 145, 24, 0.678);
  font-size: x-small;
  border: 1px solid black;
}
#subtotal2{
  background-color: rgba(114, 192, 111, 0.74);
  font-size: x-small;
  border: 1px solid black;
}
#texto{
  font-size: x-small;
}
thead th, tfoot th, tfoot td {
  background: linear-gradient(to bottom, rgba(45, 150, 168, 0.1), rgba(45, 150, 168,0.5));
  border: 2px solid black;
}
thead th:nth-child(1) {
  width: 20%;
}

