<h3>Planilla 6 - Planta de Personal</h3>

<form (ngSubmit)="filterData1(f.value)" #f="ngForm">
  <div>
    <div class="row">
      <div class="col-4">
        <label for="startDate1" class="form-label">Seleccionar mes</label>
        <input class="form-control" type="month" name="startDate1" id="startDate1" ngModel>
      </div>
     
    </div>
    <br>
    <div class="col-2">
      <button type="submit" class="btn btn-primary mb-3">Filtrar</button>
    </div>
  </div>
</form>

<hr>
<table id="table1">

  <thead>
    <tr>
      <th rowspan="2">Concepto/Escalafón</th>
      <th rowspan="2">General</th>
      <th colspan="3">Seguridad</th>
      <th colspan="3">Salud</th>
      <th rowspan="2">Justicia</th>
      <th rowspan="2">Vial</th>
      <th rowspan="2">Autoridades Superiores</th>
      <th rowspan="2">Legislativo</th>
      <th rowspan="2">Resto</th>
      <th rowspan="2">SUBTOTAL</th>
      <th colspan="4">Docente</th>
      <th rowspan="2">TOTAL</th>
    </tr>
    <tr>
      <th>Policia</th>
      <th>Serv. Penitenciario</th>
      <th>Subtotal Seguridad</th>
      <th>Profesional Asistencial Sanitaria</th>
      <th>Enfermería</th>
      <th>Subtotal Salud</th>
      <th>Cargos</th>
      <th>Hs. Cátedras</th>
      <th>Hs. Cát. en Cargos</th>
      <th>Subtotal Docente</th>
    </tr>
  </thead>
  <tbody>
    <tr id="subtotal1">
      <td>PLANTA PERMANENTE</td>
      <td>{{total1Per[0].toFixed(2)}}</td>
      <td>{{total1Per[1].toFixed(2)}}</td>
      <td>{{total1Per[2].toFixed(2)}}</td>
      <td>{{ (total1Per[1] + total1Per[2]).toFixed(2) }}</td>
      <td>{{total1Per[3].toFixed(2)}}</td>
      <td>{{total1Per[4].toFixed(2)}}</td>
      <td>{{ (total1Per[3] + total1Per[4]).toFixed(2) }}</td>
      <td>{{total1Per[5].toFixed(2)}}</td>
      <td>{{total1Per[6].toFixed(2)}}</td>
      <td>{{total1Per[7].toFixed(2)}}</td>
      <td>{{total1Per[8].toFixed(2)}}</td>
      <td>{{total1Per[9].toFixed(2)}}</td>
      <td>{{ (total1Per[0] + total1Per[1] + total1Per[2] + total1Per[3] + total1Per[4] + total1Per[5] + total1Per[6] +
        total1Per[7] +
        total1Per[8] + total1Per[9]).toFixed(2) }}</td>
      <td>{{total1Per[10].toFixed(2)}}</td>
      <td>{{ (total1Per[11] * 30).toFixed(2)}}</td>
      <td>{{total1Per[11].toFixed(2)}}</td>
      <td>{{ (total1Per[10] + total1Per[11]).toFixed(2) }}</td>
      <td>{{ (total1Per[0] + total1Per[1] + total1Per[2] + total1Per[3] + total1Per[4] + total1Per[5] + total1Per[6] +
        total1Per[7] +
        total1Per[8] + total1Per[9] + total1Per[10] + total1Per[11]).toFixed(2) }}</td>
    </tr>
    <tr id="subtotal2">
      <td > - ADMINISTRACIÓN PÚBLICA NO FINANCIERA</td>
      <td>{{totalAdmiPubPer[0].toFixed(2)}}</td>
      <td>{{totalAdmiPubPer[1].toFixed(2)}}</td>
      <td>{{totalAdmiPubPer[2].toFixed(2)}}</td>
      <td>{{ (totalAdmiPubPer[1] + totalAdmiPubPer[2]).toFixed(2) }}</td>
      <td>{{totalAdmiPubPer[3].toFixed(2)}}</td>
      <td>{{totalAdmiPubPer[4].toFixed(2)}}</td>
      <td>{{ (totalAdmiPubPer[3] + totalAdmiPubPer[4]).toFixed(2) }}</td>
      <td>{{totalAdmiPubPer[5].toFixed(2)}}</td>
      <td>{{totalAdmiPubPer[6].toFixed(2)}}</td>
      <td>{{totalAdmiPubPer[7].toFixed(2)}}</td>
      <td>{{totalAdmiPubPer[8].toFixed(2)}}</td>
      <td>{{totalAdmiPubPer[9].toFixed(2)}}</td>
      <td>{{ (totalAdmiPubPer[0] + totalAdmiPubPer[1] + totalAdmiPubPer[2] + totalAdmiPubPer[3] + totalAdmiPubPer[4] +
        totalAdmiPubPer[5] + totalAdmiPubPer[6] + totalAdmiPubPer[7] + totalAdmiPubPer[8] +
        totalAdmiPubPer[9]).toFixed(2) }}</td>
      <td>{{totalAdmiPubPer[10].toFixed(2)}}</td>
      <td>{{ (totalAdmiPubPer[11] * 30).toFixed(2)}}</td>
      <td>{{totalAdmiPubPer[11].toFixed(2)}}</td>
      <td>{{ (totalAdmiPubPer[10] + totalAdmiPubPer[11]).toFixed(2) }}</td>
      <td>{{ (totalAdmiPubPer[0] + totalAdmiPubPer[1] + totalAdmiPubPer[2] + totalAdmiPubPer[3] + totalAdmiPubPer[4] +
        totalAdmiPubPer[5] + totalAdmiPubPer[6] + totalAdmiPubPer[7] + totalAdmiPubPer[8] + totalAdmiPubPer[9] +
        totalAdmiPubPer[10] + totalAdmiPubPer[11]).toFixed(2) }}</td>
    </tr>
    <tr *ngFor="let i of admiPubNoFinPer" id="texto">
      <td>{{i.tipo_organismo}}</td>
      <td>{{i.cantGeneral.toFixed(2)}}</td>
      <td>{{i.cantPolicia.toFixed(2)}}</td>
      <td>{{i.cantSerPen.toFixed(2)}}</td>
      <td>{{ (i.cantPolicia + i.cantSerPen).toFixed(2) }}</td>
      <td>{{i.cantMedicos.toFixed(2)}}</td>
      <td>{{i.cantEnfermeria.toFixed(2)}}</td>
      <td>{{ (i.cantMedicos + i.cantEnfermeria).toFixed(2) }}</td>
      <td>{{i.cantJusticia.toFixed(2)}}</td>
      <td>{{i.cantVial.toFixed(2)}}</td>
      <td>{{i.cantSuperior.toFixed(2)}}</td>
      <td>{{i.cantLegislativo.toFixed(2)}}</td>
      <td>{{i.cantResto.toFixed(2)}}</td>
      <td>{{ (i.cantGeneral + i.cantPolicia + i.cantSerPen + i.cantMedicos + i.cantEnfermeria + i.cantJusticia +
        i.cantVial + i.cantSuperior + i.cantLegislativo + i.cantResto).toFixed(2) }}</td>
      <td>{{i.cantDocCar.toFixed(2)}}</td>
      <td>{{ (i.cantDocHor * 30).toFixed(2)}}</td>
      <td>{{i.cantDocHor.toFixed(2)}}</td>
      <td>{{ (i.cantDocCar + i.cantDocHor).toFixed(2) }}</td>
      <td>{{ (i.cantGeneral + i.cantPolicia + i.cantSerPen + i.cantMedicos + i.cantEnfermeria + i.cantJusticia +
        i.cantVial + i.cantSuperior + i.cantLegislativo + i.cantResto + i.cantDocCar + i.cantDocHor).toFixed(2) }}</td>
    </tr>
    <tr id="subtotal2">
      <td > - INSTITUTO, EMPRESAS Y OTROS ENTES</td>
      <td>{{totalInstEmpPer[0].toFixed(2)}}</td>
      <td>{{totalInstEmpPer[1].toFixed(2)}}</td>
      <td>{{totalInstEmpPer[2].toFixed(2)}}</td>
      <td>{{ (totalInstEmpPer[1] + totalInstEmpPer[2]).toFixed(2) }}</td>
      <td>{{totalInstEmpPer[3].toFixed(2)}}</td>
      <td>{{totalInstEmpPer[4].toFixed(2)}}</td>
      <td>{{ (totalInstEmpPer[3] + totalInstEmpPer[4]).toFixed(2) }}</td>
      <td>{{totalInstEmpPer[5].toFixed(2)}}</td>
      <td>{{totalInstEmpPer[6].toFixed(2)}}</td>
      <td>{{totalInstEmpPer[7].toFixed(2)}}</td>
      <td>{{totalInstEmpPer[8].toFixed(2)}}</td>
      <td>{{totalInstEmpPer[9].toFixed(2)}}</td>
      <td>{{ (totalInstEmpPer[0] + totalInstEmpPer[1] + totalInstEmpPer[2] + totalInstEmpPer[3] + totalInstEmpPer[4] +
      totalInstEmpPer[5] + totalInstEmpPer[6] + totalInstEmpPer[7] + totalInstEmpPer[8] +
      totalInstEmpPer[9]).toFixed(2) }}</td>
      <td>{{totalInstEmpPer[10].toFixed(2)}}</td>
      <td>{{ (totalInstEmpPer[11] * 30).toFixed(2)}}</td>
      <td>{{totalInstEmpPer[11].toFixed(2)}}</td>
      <td>{{ (totalInstEmpPer[10] + totalInstEmpPer[11]).toFixed(2) }}</td>
      <td>{{ (totalInstEmpPer[0] + totalInstEmpPer[1] + totalInstEmpPer[2] + totalInstEmpPer[3] + totalInstEmpPer[4] +
      totalInstEmpPer[5] + totalInstEmpPer[6] + totalInstEmpPer[7] + totalInstEmpPer[8] + totalInstEmpPer[9] +
      totalInstEmpPer[10] + totalInstEmpPer[11]).toFixed(2) }}</td>
    </tr>
    <tr *ngFor="let i of instEmpYOtrosPer" id="texto">
      <td>{{i.tipo_organismo}}</td>
      <td>{{i.cantGeneral.toFixed(2)}}</td>
      <td>{{i.cantPolicia.toFixed(2)}}</td>
      <td>{{i.cantSerPen.toFixed(2)}}</td>
      <td>{{ (i.cantPolicia + i.cantSerPen).toFixed(2) }}</td>
      <td>{{i.cantMedicos.toFixed(2)}}</td>
      <td>{{i.cantEnfermeria.toFixed(2)}}</td>
      <td>{{ (i.cantMedicos + i.cantEnfermeria).toFixed(2) }}</td>
      <td>{{i.cantJusticia.toFixed(2)}}</td>
      <td>{{i.cantVial.toFixed(2)}}</td>
      <td>{{i.cantSuperior.toFixed(2)}}</td>
      <td>{{i.cantLegislativo.toFixed(2)}}</td>
      <td>{{i.cantResto.toFixed(2)}}</td>
      <td>{{ (i.cantGeneral + i.cantPolicia + i.cantSerPen + i.cantMedicos + i.cantEnfermeria + i.cantJusticia +
        i.cantVial + i.cantSuperior + i.cantLegislativo + i.cantResto).toFixed(2) }}</td>
      <td>{{i.cantDocCar.toFixed(2)}}</td>
      <td>{{ (i.cantDocHor * 30).toFixed(2)}}</td>
      <td>{{i.cantDocHor.toFixed(2)}}</td>
      <td>{{ (i.cantDocCar + i.cantDocHor).toFixed(2) }}</td>
      <td>{{ (i.cantGeneral + i.cantPolicia + i.cantSerPen + i.cantMedicos + i.cantEnfermeria + i.cantJusticia +
        i.cantVial + i.cantSuperior + i.cantLegislativo + i.cantResto + i.cantDocCar + i.cantDocHor).toFixed(2) }}</td>
    </tr>
    <tr id="subtotal1">
    <td>PLANTA TEMPORARIA</td>
    <td>{{total1Tem[0].toFixed(2)}}</td>
    <td>{{total1Tem[1].toFixed(2)}}</td>
    <td>{{total1Tem[2].toFixed(2)}}</td>
    <td>{{ (total1Tem[1] + total1Tem[2]).toFixed(2) }}</td>
    <td>{{total1Tem[3].toFixed(2)}}</td>
    <td>{{total1Tem[4].toFixed(2)}}</td>
    <td>{{ (total1Tem[3] + total1Tem[4]).toFixed(2) }}</td>
    <td>{{total1Tem[5].toFixed(2)}}</td>
    <td>{{total1Tem[6].toFixed(2)}}</td>
    <td>{{total1Tem[7].toFixed(2)}}</td>
    <td>{{total1Tem[8].toFixed(2)}}</td>
    <td>{{total1Tem[9].toFixed(2)}}</td>
    <td>{{ (total1Tem[0] + total1Tem[1] + total1Tem[2] + total1Tem[3] + total1Tem[4] + total1Tem[5] + total1Tem[6] +
      total1Tem[7] + total1Tem[8] + total1Tem[9]).toFixed(2) }}</td>
    <td>{{total1Tem[10].toFixed(2)}}</td>
    <td>{{ (total1Tem[11] * 30).toFixed(2)}}</td>
    <td>{{total1Tem[11].toFixed(2)}}</td>
    <td>{{ (total1Tem[10] + total1Tem[11]).toFixed(2) }}</td>
    <td>{{ (total1Tem[0] + total1Tem[1] + total1Tem[2] + total1Tem[3] + total1Tem[4] + total1Tem[5] + total1Tem[6] +
      total1Tem[7] + total1Tem[8] + total1Tem[9] + total1Tem[10] + total1Tem[11]).toFixed(2) }}</td>
  </tr>
  <tr id="subtotal2">
    <td > - ADMINISTRACIÓN PÚBLICA NO FINANCIERA</td>
    <td>{{totalAdmiPubTem[0].toFixed(2)}}</td>
    <td>{{totalAdmiPubTem[1].toFixed(2)}}</td>
    <td>{{totalAdmiPubTem[2].toFixed(2)}}</td>
    <td>{{ (totalAdmiPubTem[1] + totalAdmiPubTem[2]).toFixed(2) }}</td>
    <td>{{totalAdmiPubTem[3].toFixed(2)}}</td>
    <td>{{totalAdmiPubTem[4].toFixed(2)}}</td>
    <td>{{ (totalAdmiPubTem[3] + totalAdmiPubTem[4]).toFixed(2) }}</td>
    <td>{{totalAdmiPubTem[5].toFixed(2)}}</td>
    <td>{{totalAdmiPubTem[6].toFixed(2)}}</td>
    <td>{{totalAdmiPubTem[7].toFixed(2)}}</td>
    <td>{{totalAdmiPubTem[8].toFixed(2)}}</td>
    <td>{{totalAdmiPubTem[9].toFixed(2)}}</td>
    <td>{{ (totalAdmiPubTem[0] + totalAdmiPubTem[1] + totalAdmiPubTem[2] + totalAdmiPubTem[3] + totalAdmiPubTem[4] +
      totalAdmiPubTem[5] + totalAdmiPubTem[6] + totalAdmiPubTem[7] + totalAdmiPubTem[8] +
      totalAdmiPubTem[9]).toFixed(2) }}</td>
    <td>{{totalAdmiPubTem[10].toFixed(2)}}</td>
    <td>{{ (totalAdmiPubTem[11] * 30).toFixed(2)}}</td>
    <td>{{totalAdmiPubTem[11].toFixed(2)}}</td>
    <td>{{ (totalAdmiPubTem[10] + totalAdmiPubTem[11]).toFixed(2) }}</td>
    <td>{{ (totalAdmiPubTem[0] + totalAdmiPubTem[1] + totalAdmiPubTem[2] + totalAdmiPubTem[3] + totalAdmiPubTem[4] +
      totalAdmiPubTem[5] + totalAdmiPubTem[6] + totalAdmiPubTem[7] + totalAdmiPubTem[8] + totalAdmiPubTem[9] +
      totalAdmiPubTem[10] + totalAdmiPubTem[11]).toFixed(2) }}</td>
  </tr>
  <tr *ngFor="let i of admiPubNoFinTem" id="texto">
    <td>{{i.tipo_organismo}}</td>
    <td>{{i.cantGeneral.toFixed(2)}}</td>
    <td>{{i.cantPolicia.toFixed(2)}}</td>
    <td>{{i.cantSerPen.toFixed(2)}}</td>
    <td>{{ (i.cantPolicia + i.cantSerPen).toFixed(2) }}</td>
    <td>{{i.cantMedicos.toFixed(2)}}</td>
    <td>{{i.cantEnfermeria.toFixed(2)}}</td>
    <td>{{ (i.cantMedicos + i.cantEnfermeria).toFixed(2) }}</td>
    <td>{{i.cantJusticia.toFixed(2)}}</td>
    <td>{{i.cantVial.toFixed(2)}}</td>
    <td>{{i.cantSuperior.toFixed(2)}}</td>
    <td>{{i.cantLegislativo.toFixed(2)}}</td>
    <td>{{i.cantResto.toFixed(2)}}</td>
    <td>{{ (i.cantGeneral + i.cantPolicia + i.cantSerPen + i.cantMedicos + i.cantEnfermeria + i.cantJusticia +
      i.cantVial + i.cantSuperior + i.cantLegislativo + i.cantResto).toFixed(2) }}</td>
    <td>{{i.cantDocCar.toFixed(2)}}</td>
    <td>{{ (i.cantDocHor * 30).toFixed(2)}}</td>
    <td>{{i.cantDocHor.toFixed(2)}}</td>
    <td>{{ (i.cantDocCar + i.cantDocHor).toFixed(2) }}</td>
    <td>{{ (i.cantGeneral + i.cantPolicia + i.cantSerPen + i.cantMedicos + i.cantEnfermeria + i.cantJusticia +
      i.cantVial + i.cantSuperior + i.cantLegislativo + i.cantResto + i.cantDocCar + i.cantDocHor).toFixed(2) }}</td>
  </tr>
  <tr id="subtotal2">
    <td > - INSTITUTO, EMPRESAS Y OTROS ENTES</td>
    <td>{{totalInstEmpTem[0].toFixed(2)}}</td>
    <td>{{totalInstEmpTem[1].toFixed(2)}}</td>
    <td>{{totalInstEmpTem[2].toFixed(2)}}</td>
    <td>{{ (totalInstEmpTem[1] + totalInstEmpTem[2]).toFixed(2) }}</td>
    <td>{{totalInstEmpTem[3].toFixed(2)}}</td>
    <td>{{totalInstEmpTem[4].toFixed(2)}}</td>
    <td>{{ (totalInstEmpTem[3] + totalInstEmpTem[4]).toFixed(2) }}</td>
    <td>{{totalInstEmpTem[5].toFixed(2)}}</td>
    <td>{{totalInstEmpTem[6].toFixed(2)}}</td>
    <td>{{totalInstEmpTem[7].toFixed(2)}}</td>
    <td>{{totalInstEmpTem[8].toFixed(2)}}</td>
    <td>{{totalInstEmpTem[9].toFixed(2)}}</td>
    <td>{{ (totalInstEmpTem[0] + totalInstEmpTem[1] + totalInstEmpTem[2] + totalInstEmpTem[3] + totalInstEmpTem[4] +
    totalInstEmpTem[5] + totalInstEmpTem[6] + totalInstEmpTem[7] + totalInstEmpTem[8] +
    totalInstEmpTem[9]).toFixed(2) }}</td>
    <td>{{totalInstEmpTem[10].toFixed(2)}}</td>
    <td>{{ (totalInstEmpTem[11] * 30).toFixed(2)}}</td>
    <td>{{totalInstEmpTem[11].toFixed(2)}}</td>
    <td>{{ (totalInstEmpTem[10] + totalInstEmpTem[11]).toFixed(2) }}</td>
    <td>{{ (totalInstEmpTem[0] + totalInstEmpTem[1] + totalInstEmpTem[2] + totalInstEmpTem[3] + totalInstEmpTem[4] +
    totalInstEmpTem[5] + totalInstEmpTem[6] + totalInstEmpTem[7] + totalInstEmpTem[8] + totalInstEmpTem[9] +
    totalInstEmpTem[10] + totalInstEmpTem[11]).toFixed(2) }}</td>
  </tr>
  <tr *ngFor="let i of instEmpYOtrosTem" id="texto">
    <td>{{i.tipo_organismo}}</td>
    <td>{{i.cantGeneral.toFixed(2)}}</td>
    <td>{{i.cantPolicia.toFixed(2)}}</td>
    <td>{{i.cantSerPen.toFixed(2)}}</td>
    <td>{{ (i.cantPolicia + i.cantSerPen).toFixed(2) }}</td>
    <td>{{i.cantMedicos.toFixed(2)}}</td>
    <td>{{i.cantEnfermeria.toFixed(2)}}</td>
    <td>{{ (i.cantMedicos + i.cantEnfermeria).toFixed(2) }}</td>
    <td>{{i.cantJusticia.toFixed(2)}}</td>
    <td>{{i.cantVial.toFixed(2)}}</td>
    <td>{{i.cantSuperior.toFixed(2)}}</td>
    <td>{{i.cantLegislativo.toFixed(2)}}</td>
    <td>{{i.cantResto.toFixed(2)}}</td>
    <td>{{ (i.cantGeneral + i.cantPolicia + i.cantSerPen + i.cantMedicos + i.cantEnfermeria + i.cantJusticia +
      i.cantVial + i.cantSuperior + i.cantLegislativo + i.cantResto).toFixed(2) }}</td>
    <td>{{i.cantDocCar.toFixed(2)}}</td>
    <td>{{ (i.cantDocHor * 30).toFixed(2)}}</td>
    <td>{{i.cantDocHor.toFixed(2)}}</td>
    <td>{{ (i.cantDocCar + i.cantDocHor).toFixed(2) }}</td>
    <td>{{ (i.cantGeneral + i.cantPolicia + i.cantSerPen + i.cantMedicos + i.cantEnfermeria + i.cantJusticia +
      i.cantVial + i.cantSuperior + i.cantLegislativo + i.cantResto + i.cantDocCar + i.cantDocHor).toFixed(2) }}</td>
  </tr>
  </tbody>

</table>


<hr>
<button (click)="multiTable()" class="btn btn-primary mb-3" *ngIf="permanente">Exportar</button>
