<form>
  <div class="row">
    <div class="col-4">
      <label for="filtro1" class="form-label">Fecha inicio</label>
      <input class="form-control" type="date" id="filtro1" placeholder="Default input" aria-label="default input example">

    </div>
    <div class="col-4">

      <label for="filtro1" class="form-label">Fecha fin</label>
      <input class="form-control" type="date" id="filtro1" placeholder="Default input" aria-label="default input example">
    </div>
    <div class="col-4">
      <button type="submit" class="btn btn-primary mb-3">Filtrar</button>
    </div>
  </div>
</form>
  
