<form>
  <div class="row">
    <div class="col-1">
      <p>Columna 1</p>
    </div>
    <div class="col-2">
      <label for="startDate1" class="form-label">Fecha inicio</label>
      <input class="form-control" type="date"  id="startDate1" placeholder="Default input" aria-label="default input example">

    </div>
    <div class="col-2">

      <label for="endDate1" class="form-label">Fecha fin</label>
      <input class="form-control" type="date"  id="endDate1" placeholder="Default input" aria-label="default input example">
    </div>
    
  </div>

  <div class="row">
    <div class="col-1">
      <p>Columna 2</p>
    </div>
    <div class="col-2">
      <label for="startDate2" class="form-label">Fecha inicio</label>
      <input class="form-control"  id="startDate2" type="date" placeholder="Default input" aria-label="default input example">

    </div>
    <div class="col-2">

      <label for="endDate2" class="form-label">Fecha fin</label>
      <input class="form-control" type="date"  id="endDate2" placeholder="Default input" aria-label="default input example">
    </div>
    <div class="col-2">
      <button type="button"  class="btn btn-primary mb-3">Filtrar</button>
    </div>
  </div>
</form>
<hr>

<table class="table table-striped table-hover">
  <tr>
    <th>Descripción</th>
    <th>Importe</th>
    
  </tr>
  <tr *ngFor="let item of datosFiltrados">
    <td>{{item.descripcion}}</td>
    <td>{{item.importe}}</td>
    
  </tr>
</table>


  
