<form (ngSubmit)="filterData1(f.value)" #f="ngForm" >
  <div>
  <div class="row">
    <div class="col-1">
      <p>Columna 1</p>
    </div>
    <div class="col-2">
      <label for="startDate1" class="form-label">Fecha inicio</label>
      <input class="form-control" type="date" name="startDate1" id="startDate1" ngModel>

    </div>
    <div class="col-2">

      <label for="endDate1" class="form-label">Fecha fin</label>
      <input class="form-control" type="date" name="endDate1" id="endDate1" ngModel>
    </div>
    
  </div>

  <div class="row">
    
    <div class="col-1">
      <p>Columna 2</p>
    </div>
    <div class="col-2">
      <label for="startDate2" class="form-label">Fecha inicio</label>
      <input class="form-control" name="startDate2" id="startDate2" type="date" ngModel>

    </div>
    <div class="col-2">

      <label for="endDate2" class="form-label">Fecha fin</label>
      <input class="form-control" type="date" name="endDate2" id="endDate2" ngModel>
    </div>
  
    <div class="col-2">
      <button type="submit" class="btn btn-primary mb-3">Filtrar</button>
    </div>
  </div>
</div>
</form>
<hr>

<table class="table table-striped table-hover">
  <tr>
    <th>Descripción</th>
    <th>Importe columna 1</th>
    <th>Importe columna 2</th>
  </tr>
  <tr *ngFor="let item of datosFiltrados">
    <td>{{item.descripcion}}</td>
    <td>{{item.importe | filtroRangoFecha:fecha:'2022-10-01':'2022-10-31'}}</td>
    <td>{{item.importe}}</td>
  </tr>
</table>


  
