<h3>Planilla 1 Responsabilidad Fiscal - Planta de Personal</h3>

<form (ngSubmit)="filterData1(f.value)" #f="ngForm">
  <div>
    <div class="row">
      <div class="col-4">
        <label for="startDate1" class="form-label">Seleccionar mes</label>
        <input class="form-control" type="month" name="startDate1" id="startDate1" ngModel>
      </div>
     
    </div>
    <br>
    <div class="col-2">
      <button type="submit" class="btn btn-primary mb-3">Filtrar</button>
    </div>
  </div>
</form>

<hr>

<table id="table1">
  <caption>
  <h5>PLANILLA 1: CARGOS, HORAS CÁTEDRA Y MODULOS POR ESCALAFÓN</h5>
  <h6>Jurisdicción: Entre Ríos</h6>
  <h6>Mes/Año: {{fecha}}</h6>
  </caption>

  <thead>
    <tr>
      <th rowspan="2">Cargos de Planta</th>
      <th colspan="3">Total</th>
      <th colspan="3">Docente</th>
      <th colspan="3">Salud</th>
      <th colspan="3">Seguridad</th>
      <th colspan="3">Justicia</th>
      <th colspan="3">Vial</th>
      <th colspan="3">General</th>
      <th colspan="3">Legislativo</th>
      <th colspan="3">Autoridades Superiores</th>
      <th colspan="3">Resto</th>
      
    </tr>
    <tr>
      <th>Cubiertos con liq. de haberes</th>
      <th>Cubiertos sin liq. de haberes</th>
      <th>Suplencias</th>
      <th>Cubiertos con liq. de haberes</th>
      <th>Cubiertos sin liq. de haberes</th>
      <th>Suplencias</th>
      <th>Cubiertos con liq. de haberes</th>
      <th>Cubiertos sin liq. de haberes</th>
      <th>Suplencias</th>
      <th>Cubiertos con liq. de haberes</th>
      <th>Cubiertos sin liq. de haberes</th>
      <th>Suplencias</th>
      <th>Cubiertos con liq. de haberes</th>
      <th>Cubiertos sin liq. de haberes</th>
      <th>Suplencias</th>
      <th>Cubiertos con liq. de haberes</th>
      <th>Cubiertos sin liq. de haberes</th>
      <th>Suplencias</th>
      <th>Cubiertos con liq. de haberes</th>
      <th>Cubiertos sin liq. de haberes</th>
      <th>Suplencias</th>
      <th>Cubiertos con liq. de haberes</th>
      <th>Cubiertos sin liq. de haberes</th>
      <th>Suplencias</th>
      <th>Cubiertos con liq. de haberes</th>
      <th>Cubiertos sin liq. de haberes</th>
      <th>Suplencias</th>
      <th>Cubiertos con liq. de haberes</th>
      <th>Cubiertos sin liq. de haberes</th>
      <th>Suplencias</th>
    </tr>
  </thead>
  <tbody>
    <!-- sección de planta permanente-->
    <tr id="subtotal1">
      <td>TOTAL</td>
      <td>{{total1Per[0].toFixed(0)}}</td>
      <td>{{total1Per[0].toFixed(0)}}</td>
      <td>{{total1Per[0].toFixed(0)}}</td>
      <td>{{total1Per[0].toFixed(0)}}</td>
      <td>{{total1Per[0].toFixed(0)}}</td>
      <td>{{total1Per[0].toFixed(0)}}</td>
      <td>{{total1Per[0].toFixed(0)}}</td>
      <td>{{total1Per[0].toFixed(0)}}</td>
      <td>{{total1Per[0].toFixed(0)}}</td>
      <td>{{total1Per[0].toFixed(0)}}</td>
      <td>{{total1Per[0].toFixed(0)}}</td>
      <td>{{total1Per[0].toFixed(0)}}</td>
      <td>{{total1Per[0].toFixed(0)}}</td>
      <td>{{total1Per[0].toFixed(0)}}</td>
      <td>{{total1Per[0].toFixed(0)}}</td>
      <td>{{total1Per[0].toFixed(0)}}</td>
      <td>{{total1Per[0].toFixed(0)}}</td>
      <td>{{total1Per[0].toFixed(0)}}</td>
      <td>{{total1Per[0].toFixed(0)}}</td>
      <td>{{total1Per[0].toFixed(0)}}</td>
      <td>{{total1Per[0].toFixed(0)}}</td>
      <td>{{total1Per[0].toFixed(0)}}</td>
      <td>{{total1Per[0].toFixed(0)}}</td>
      <td>{{total1Per[0].toFixed(0)}}</td>
      <td>{{total1Per[0].toFixed(0)}}</td>
      <td>{{total1Per[0].toFixed(0)}}</td>
      <td>{{total1Per[0].toFixed(0)}}</td>
      <td>{{total1Per[0].toFixed(0)}}</td>
      <td>{{total1Per[0].toFixed(0)}}</td>
      <td>{{total1Per[0].toFixed(0)}}</td>
    </tr>
    <tr id="subtotal1">
      <td>Planta Permanente</td>
      <td>{{total1Per[0].toFixed(0)}}</td>
      <td>{{total1Per[0].toFixed(0)}}</td>
      <td>{{total1Per[0].toFixed(0)}}</td>
      <td>{{total1Per[0].toFixed(0)}}</td>
      <td>{{total1Per[0].toFixed(0)}}</td>
      <td>{{total1Per[0].toFixed(0)}}</td>
      <td>{{total1Per[0].toFixed(0)}}</td>
      <td>{{total1Per[0].toFixed(0)}}</td>
      <td>{{total1Per[0].toFixed(0)}}</td>
      <td>{{total1Per[0].toFixed(0)}}</td>
      <td>{{total1Per[0].toFixed(0)}}</td>
      <td>{{total1Per[0].toFixed(0)}}</td>
      <td>{{total1Per[0].toFixed(0)}}</td>
      <td>{{total1Per[0].toFixed(0)}}</td>
      <td>{{total1Per[0].toFixed(0)}}</td>
      <td>{{total1Per[0].toFixed(0)}}</td>
      <td>{{total1Per[0].toFixed(0)}}</td>
      <td>{{total1Per[0].toFixed(0)}}</td>
      <td>{{total1Per[0].toFixed(0)}}</td>
      <td>{{total1Per[0].toFixed(0)}}</td>
      <td>{{total1Per[0].toFixed(0)}}</td>
      <td>{{total1Per[0].toFixed(0)}}</td>
      <td>{{total1Per[0].toFixed(0)}}</td>
      <td>{{total1Per[0].toFixed(0)}}</td>
      <td>{{total1Per[0].toFixed(0)}}</td>
      <td>{{total1Per[0].toFixed(0)}}</td>
      <td>{{total1Per[0].toFixed(0)}}</td>
      <td>{{total1Per[0].toFixed(0)}}</td>
      <td>{{total1Per[0].toFixed(0)}}</td>
      <td>{{total1Per[0].toFixed(0)}}</td>
    </tr>
  </tbody>


</table>