<h3>Planilla 1 Responsabilidad Fiscal- Planta de Personal</h3>

<form (ngSubmit)="filterData1(f.value)" #f="ngForm">
  <div>
    <div class="row">
      <div class="col-4">
        <label for="startDate1" class="form-label">Seleccionar mes</label>
        <input class="form-control" type="month" name="startDate1" id="startDate1" ngModel>
      </div>
     
    </div>
    <br>
    <div class="col-2">
      <button type="submit" class="btn btn-primary mb-3">Filtrar</button>
    </div>
  </div>
</form>

<hr>