p{
  text-align: right;
  vertical-align: sub;
  margin-top: 30px;
}
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 2px solid;
     
}
thead th:nth-child(1) {
  width: 15%;
}

thead th:nth-child(2) {
  width: 60%;
  
}

thead th:nth-child(3) {
  width: 25%;
}



th, td {
  padding: 5px;
}
tr {
  background-color: rgba(62, 92, 66, 0.438);
  color: white;
  
}

thead, tfoot {
  background-color: rgb(148, 173, 136);
  color: white;
  text-shadow: 1px 1px 1px black;
}

thead th, tfoot th, tfoot td {
  background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5));
  border: 2px solid black;
}

tbody tr:nth-child(odd) {
  background-color: white;
}

tbody tr:nth-child(even) {
  background-color: #a8c5a4;
}
caption {
  font-family: 'Rock Salt', cursive;
  padding: 5px;
  font-style: italic;
  caption-side: top;
  color: #666;
  text-align: right;
  letter-spacing: 1px;
}