/* Add application styles & imports to this file! */
@import '~bootstrap/dist/css/bootstrap.min.css';


table {
  table-layout: fixed;
  border-collapse: collapse;
  border: 2px solid;
     
}


thead th, tfoot th, tfoot td {
  background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5));
  border: 2px solid black;
}



