/* Add application styles & imports to this file! */
@import '~bootstrap/dist/css/bootstrap.min.css';


table {
  table-layout: fixed;
  border-collapse: collapse;
  border: 2px solid;
     
}






